<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Exercise 1 and 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loading-feedback [state]="state">
    <ion-grid>
      <ion-row>
      </ion-row>
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Name
            </ion-col>
            <ion-col  size="7">
              <ion-input class="" maxlength="30" formControlName="name">{{user?.name}}</ion-input>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Birthdate
            </ion-col>
            <ion-col  size="7">
              <ion-datetime displayFormat="DD/MM/YYYY" min="1930-01-01" max="2010-01-01" value="{{user?.birthDate}}" formControlName="birthDate"></ion-datetime>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Sex
            </ion-col>
            <ion-col  size="7">
              <ion-select multiple="false" formControlName="sex" value="{{user?.sex}}">
                <ion-select-option *ngFor="let sex of sexList" value="{{sex}}">{{sex}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Phone
            </ion-col>
            <ion-col  size="7">
              <ion-input type="number" formControlName="phone">{{user?.phone}}</ion-input>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Email
            </ion-col>
            <ion-col  size="7">
              <ion-input class="" maxlength="30" formControlName="email">{{user?.email}}</ion-input>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" type="submit" disabled="!form.valid">GUARDAR</ion-button>
          </ion-col>
        </ion-row>
        </form>
    </ion-grid>
  </app-loading-feedback>
</ion-content>
